project:
  type: website
  output-dir: docs
website:
  title: "Quarto_profile_MaC"
  navbar:
    logo-href: images/logo.jpg
    background: lightseagreen
    search: true
    left:
      - href: index.qmd
        text: Home
      - about.qmd
    
format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

editor: visual

